* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: darkgrey;
  padding: 20px;
  gap: 10px;
  border-radius: 5px;
  box-shadow: 0 0 25px darkgrey;
}

.display {
  font-size: 20px;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  padding: 10px;
  height: 30px;
}

.button-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-row {
  display: flex;
}

.button-container,
.button-row {
  gap: 5px;
}

.button-row button {
  font-size: 26px;
  width: 60px;
  height: 60px;
  flex: 1;
  border: 0;
  border-radius: 4px;
}

.normal-button:hover {
  background-color: #ccc !important;
}

.special-button {
  background-color: orange;
  border: 1px solid buttonborder;
}

.special-button:hover {
  background-color: rgb(235, 129, 0) !important;
}

.special-button:hover,
.normal-button:hover {
  cursor: pointer !important;
}
